.confirm-backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
  padding: 80px 30px 0 0;
  margin-top: 120px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

body {
  background-color: rgba(0, 0, 0, 0.4);
}
