<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <app-test>
        <h2>Some Random Headings From Parent Comp...!!</h2>
        <p class="alert alert-info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore qui
          deserunt eos, numquam dolores atque sunt dolore ut pariatur omnis
          placeat dolorem quibusdam neque et esse. Commodi quo quas nihil.
        </p>
        <!-- <p class="alert alert-info info1">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores maxime, officiis aliquam blanditiis esse quas est fugit. Tempora suscipit eaque quasi porro rem iste culpa asperiores vero iusto, ab ipsam alias nostrum error neque. Delectus recusandae mollitia tempore earum unde!
        </p>
        <p class="alert alert-info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore qui deserunt eos, numquam dolores atque sunt dolore ut pariatur omnis placeat dolorem quibusdam neque et esse. Commodi quo quas nihil.
        </p>
        <p class="alert alert-info">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore qui deserunt eos, numquam dolores atque sunt dolore ut pariatur omnis placeat dolorem quibusdam neque et esse. Commodi quo quas nihil.
        </p> -->
      </app-test>

      <hr />

      <!-- <task:2> -->
      <div class="conatiner mt-5">
        <div class="row">
          <div class="col-6">
            <app-auth>
              <h2>Sign Up</h2>
              <button class="btn btn-primary">Sign-up</button>
            </app-auth>
          </div>
          <div class="col-6">
            <app-auth>
              <h2>Login</h2>
              <button class="btn btn-primary">Login</button>
            </app-auth>

            <div class="container mt-5">
              <div class="row">
                <div class="col-md-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr />

     <div class="container mt-5">
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let post of postArr">
          <app-post-card>
            <h2>{{post.title}}</h2>
            <p>
              {{post.body}}
            </p>
            <div class="card-action d-flex justify-content-between">
             <button class="btn btn-sm btn-outline-info" (click)="onEdit(post.id)">Edit</button>
             <!-- <button class="btn btn-sm btn-outline-info" data-id="'{{post.id}}">Edit</button> -->

<button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
          </app-post-card>
  
          
        </div>
      </div>
     </div>
    </div>
  </div>
</div>
